# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Proje
*.db
*.log
*.db-journal
data/cache/*
reports/*
logs/*

# Secrets
*.key
*.pem
config/secrets.py
